*{padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar{
    background: #FFFFFF;
    border-bottom: 1px solid #e5e7eb;
    padding: 16px 120px;
}
.navbar .nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: bold;
}
.nav-menu{
    display: flex;
    gap: 31px;
}
.nav-menu a{
    text-decoration: none;
    color: #000000;
}

.nav-menu a:hover {color: #2f855a; 
}


.banner{
    background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    padding: 120px 20px;
    text-align: center;
    color: #FFFFFF;
}
.banner h1{
    font-size: 42px;
    margin: 20px 0;
}
.banner p{
    max-width: 750px;
    margin: auto;
}
.badge{
   background: #30B868;
   padding: 8px 12px;
   border-radius: 1000px;
   font-size: 14px;
   font-style: medium;
   letter-spacing: 0%;
}
.banner-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

