*{padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar{
    background: #FFFFFF;
    border-bottom: 1px solid #e5e7eb;
    padding: 16px 120px;
}
.navbar .nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: bold;
}
.nav-menu{
    display: flex;
    gap: 31px;
}
.nav-menu a{
    text-decoration: none;
    color: #000000;
}

.nav-menu a:hover {color: #2f855a;} 
